<div class="profile-container">
    <div class = "frame">
        <img src="https://scontent.flhe6-1.fna.fbcdn.net/v/t39.30808-6/261021734_4652811654799179_8645471856304404203_n.jpg?_nc_cat=109&_nc_rgb565=1&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHJBAa1T5ZD4HpmLuINZYuqvWP6hSyoEEG9Y_qFLKgQQVRBn6HxBHzEHYMKNL2Q9i4r9jNohh0sdM7QjvBlyzps&_nc_ohc=g5tijSUiT6IAX8iLITT&_nc_ht=scontent.flhe6-1.fna&oh=ce13c155ff9fb2ab08d6747dbfccda90&oe=61A6F34A" 
            alt="Your DP">
    </div>

    <div>
        <h3> <%= user.userName %></h3>
    </div>

    <div class = "small-container">
        <h2>Email </h2>
        <h3> <%= user.email %></h3>
    </div>

    <div class = "small-container">
        <h2>Birthday </h2>
        <h3> <%= user.dateOfBirth %></h3>
    </div>

    <div>
        <h2>Bio: </h2>
        <div class="bio-container">
            <p> <%= user.bio %></p>
        </div>
    </div>

    <div class = "edit-profile"> <a href="/edit-profile">Edit Profile</a> </div>
</div>