<%- include('includes/head.ejs') %>
</head>

<body>
    <% if (isUser) { %>
        <%- include('includes/navigation.ejs') %>
    <% } else if (isAdmin) { %>
        <%- include('admin-includes/navigation.ejs') %>
    <% } %>    
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>