body {
    margin: 0;
    background: #3c3b3f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #605c3c,
        #3c3b3f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #605c3c,
        #3c3b3f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list {
    display: flex;
    background-color: #3c3b3f;
    /* width: 100vw; */
    height: 8vh;
    margin: 0;
    justify-content: flex-end;
}

li.items {
    list-style: none;
    margin: 10px 5px;
    font-size: 25px;
    /* background: #727171;
  border-radius: 10px; */
    color: #fff;
    font-family: "Open Sans";
}

li.search {
    list-style: none;
    margin: 15px 5px;
    flex: 1;
}

input.search-input {
    height: 3vh;
    font-size: larger;
    background-color: rgb(252, 251, 250);
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #67656b;
}

li.items:hover {
    color: #67656b;
}

.nav-bar > li {
    flex: 1;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}

.grid-container {
    display: grid;
}

.card {
    grid-column: 2;
    width: 50vw;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px #67656b;
    margin: 20px;
}

p.main-content {
    margin: 10px;
}

.metadata {
    display: flex;
    justify-content: space-between;
}

div.metadata {
    margin: 10px;
}

i.fa-heart {
    color: blue;
    margin: 10px;
}

i.fa-heart span {
    margin: 10px;
}

i.fa-heart:hover {
    color: red;
}
