.cont {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
}

/* .form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
} */

.left-div {
    width: 50vw;
    background-color: rgb(f, f, f);
    height: 100vh;
    margin: 0;
}

.heading {
    color: #6c63ff;
    font: inherit;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

.right-div {
    width: 50vw;
    height: 100vh;
    margin: 0;
    background-color: #6545a4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
}
