body {
  margin: 0;
  /* overflow: hidden; */
}

.cont {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
}

.std-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #bfab25;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.std-button:hover {
  background-color: #b81365;
  cursor: pointer;
  color: #1c3144;
}

.left-div {
  width: 50vw;
  background-color: rgb(f, f, f);
  height: 100vh;
  margin: 0;
}

.right-div {
  width: 50vw;
  height: 100vh;
  margin-bottom: 0;
  background-color: #1c3144;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

a {
  color: white;
}

a:hover {
  color: #e7daff;
}

.heading {
  color: #1c3144;
  font: inherit;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.small-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}
