body {
  overflow-x: hidden;
}

.logo img {
  right: 0;
}

p {
  margin-left: 15px;
}

a {
  color: #1c3144;
}

h1,
h2,
h3 {
  color: #1c3144;
  font-family: inherit;
  font-weight: normal;
  font-size: 25px;
}
