.card-holder {
  background-color: #b3bac4;
  margin: 30px;
  width: 50vw;
  border-radius: 10px;
}

.card-holder:hover {
  box-shadow: 5px 5px #7593bd;
  border-radius: 10px;
}
.card-content {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.a-tag {
  color: black;
  text-decoration: none;
}
.a-tag:hover {
  color: black;
  text-decoration: none;
}

.top-info {
  display: flex;
  justify-content: space-between;
  width: 48vw;
  margin-top: 5px;
}

.post-content {
  width: 48vw;
}

.bot-info {
  display: flex;
}

.top-info > h6 {
  margin-top: 10px;
}

.tag-content {
  display: flex;
  justify-content: flex-end;
  width: 48vw;
}
