.profile-container {
  background-color: #d8c969;
  width: 30vw;
  height: 90vh;
  text-align: center;
  margin-top: 2em;
}

img {
  border-radius: 50%;
  margin-top: 2.5em;
}

.bio-container {
  width: 26vw;
  height: 2em;
}

h1,
h2,
h3 {
  color: #1c3144;
  font-family: inherit;
  font-weight: normal;
}
/* #1c3144 prussian blue
    #6A0136 tyler purple
    #BFAB25 Old Gold
    #B81365 Maroon X*/
