body {
  background-image: linear-gradient(
      135deg,
      rgba(249, 249, 249, 0.1) 0%,
      rgba(249, 249, 249, 0.1) 18%,
      rgba(70, 70, 70, 0.1) 18%,
      rgba(70, 70, 70, 0.1) 33%,
      rgba(229, 229, 229, 0.1) 33%,
      rgba(229, 229, 229, 0.1) 35%,
      rgba(53, 53, 53, 0.1) 35%,
      rgba(53, 53, 53, 0.1) 47%,
      rgba(156, 156, 156, 0.1) 47%,
      rgba(156, 156, 156, 0.1) 100%
    ),
    linear-gradient(
      135deg,
      rgba(106, 106, 106, 0.08) 0%,
      rgba(106, 106, 106, 0.08) 9%,
      rgba(123, 123, 123, 0.08) 9%,
      rgba(123, 123, 123, 0.08) 10%,
      rgba(69, 69, 69, 0.08) 10%,
      rgba(69, 69, 69, 0.08) 38%,
      rgba(33, 33, 33, 0.08) 38%,
      rgba(33, 33, 33, 0.08) 65%,
      rgba(24, 24, 24, 0.08) 65%,
      rgba(24, 24, 24, 0.08) 77%,
      rgba(210, 210, 210, 0.08) 77%,
      rgba(210, 210, 210, 0.08) 100%
    ),
    linear-gradient(
      45deg,
      rgba(70, 70, 70, 0.02) 0%,
      rgba(70, 70, 70, 0.02) 23%,
      rgba(225, 225, 225, 0.02) 23%,
      rgba(225, 225, 225, 0.02) 29%,
      rgba(118, 118, 118, 0.02) 29%,
      rgba(118, 118, 118, 0.02) 36%,
      rgba(28, 28, 28, 0.02) 36%,
      rgba(28, 28, 28, 0.02) 42%,
      rgba(142, 142, 142, 0.02) 42%,
      rgba(142, 142, 142, 0.02) 85%,
      rgba(95, 95, 95, 0.02) 85%,
      rgba(95, 95, 95, 0.02) 93%,
      rgba(32, 32, 32, 0.02) 93%,
      rgba(32, 32, 32, 0.02) 98%,
      rgba(71, 71, 71, 0.02) 98%,
      rgba(71, 71, 71, 0.02) 100%
    ),
    linear-gradient(
      135deg,
      rgba(207, 207, 207, 0.05) 0%,
      rgba(207, 207, 207, 0.05) 12%,
      rgba(32, 32, 32, 0.05) 12%,
      rgba(32, 32, 32, 0.05) 27%,
      rgba(79, 79, 79, 0.05) 27%,
      rgba(79, 79, 79, 0.05) 32%,
      rgba(139, 139, 139, 0.05) 32%,
      rgba(139, 139, 139, 0.05) 43%,
      rgba(150, 150, 150, 0.05) 43%,
      rgba(150, 150, 150, 0.05) 79%,
      rgba(139, 139, 139, 0.05) 79%,
      rgba(139, 139, 139, 0.05) 87%,
      rgba(55, 55, 55, 0.05) 87%,
      rgba(55, 55, 55, 0.05) 91%,
      rgba(68, 68, 68, 0.05) 91%,
      rgba(68, 68, 68, 0.05) 100%
    ),
    linear-gradient(
      0deg,
      rgba(108, 108, 108, 0.1) 0%,
      rgba(108, 108, 108, 0.1) 16%,
      rgba(163, 163, 163, 0.1) 16%,
      rgba(163, 163, 163, 0.1) 18%,
      rgba(32, 32, 32, 0.1) 18%,
      rgba(32, 32, 32, 0.1) 29%,
      rgba(122, 122, 122, 0.1) 29%,
      rgba(122, 122, 122, 0.1) 61%,
      rgba(141, 141, 141, 0.1) 61%,
      rgba(141, 141, 141, 0.1) 67%,
      rgba(53, 53, 53, 0.1) 67%,
      rgba(53, 53, 53, 0.1) 78%,
      rgba(142, 142, 142, 0.1) 78%,
      rgba(142, 142, 142, 0.1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(160, 160, 160, 0.08) 0%,
      rgba(160, 160, 160, 0.08) 27%,
      rgba(163, 163, 163, 0.08) 27%,
      rgba(163, 163, 163, 0.08) 29%,
      rgba(37, 37, 37, 0.08) 29%,
      rgba(37, 37, 37, 0.08) 35%,
      rgba(96, 96, 96, 0.08) 35%,
      rgba(96, 96, 96, 0.08) 73%,
      rgba(250, 250, 250, 0.08) 73%,
      rgba(250, 250, 250, 0.08) 90%,
      rgba(91, 91, 91, 0.08) 90%,
      rgba(91, 91, 91, 0.08) 100%
    ),
    linear-gradient(
      90deg,
      rgba(191, 191, 191, 0.08) 0%,
      rgba(191, 191, 191, 0.08) 2%,
      rgba(170, 170, 170, 0.08) 2%,
      rgba(170, 170, 170, 0.08) 7%,
      rgba(49, 49, 49, 0.08) 7%,
      rgba(49, 49, 49, 0.08) 9%,
      rgba(131, 131, 131, 0.08) 9%,
      rgba(131, 131, 131, 0.08) 23%,
      rgba(197, 197, 197, 0.08) 23%,
      rgba(197, 197, 197, 0.08) 29%,
      rgba(154, 154, 154, 0.08) 29%,
      rgba(154, 154, 154, 0.08) 91%,
      rgba(211, 211, 211, 0.08) 91%,
      rgba(211, 211, 211, 0.08) 100%
    ),
    linear-gradient(90deg, rgb(45, 83, 160), rgb(21, 228, 112));
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.container .title {
  grid-column: 5 / 8;
  grid-row: 2 / 5;
  font-size: 25px;
  font-family: "Gotham Narrow";
}

.container .forum {
  grid-column: 5 / 6;
  grid-row: 4 / 7;
}

.container .login {
  grid-column: -1;
}

.container .sign {
  grid-column: 5 / 6;
  grid-row: 7 / 8;
  font-size: 15px;
  margin-top: 20px;
  width: 300px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container .sign:hover {
  background: #727171;
  color: #fff;
}

.container .sign a {
  text-decoration: none;
  color: #fff;
}

.container .Input {
  margin: 5px 5px;
  width: 20vw;
  height: 5vh;
  background-color: wheat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 6px 20px -5px white;
}

h1.TITLE {
  color: wheat;
}

a.bttun {
  width: 300px;
  height: 80px;
  border: none;
  outline: none;
  background: violet;
  font-size: 30px;
  text-decoration: none;
  color: wheat;
  border-radius: 10px;
}

.bttn {
  width: 300px;
  height: 80px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bttn:hover {
  background: #727171;
  color: #fff;
}
