<%- include("../includes/head.ejs") %> 

</head>
    <body>
        <%- include("../includes/navigation.ejs") %>
        
        <h1>Edit Profile</h1>
        
        <main>
            <form action="/edit-profile" method="POST">
                <div>
                    <label for="postbody"> Bio</label>
                    <input
                        type="text"
                        name="bio"
                    />
                </div>

                <div>
                    <label for="tags"> Password</label>
                    <input
                        type="text"
                        name="password"
                    />
                </div>

                <div>
                    <label for="image"> Dp</label>
                    <input type="file" 
                        name="dp"
                    />
                </div>
                <div>
                    <button type="submit" class="btn">Confirm</button>
                </div>
            </form>
        </main>

        <%- include("../includes/end.ejs") %>
    </body>