<%- include("../includes/head.ejs") %> 
    </head>

    <body>
        
        <div>
            <div>
                <h1>D.I.Log</h1>
            </div>
            <div>
                <form action="" class="signup" method="POST">
                    <input
                        class="Input"
                        type="text"
                        placeholder="User Name"
                        name="name"
                    /><br />
                    <input
                        class="Input"
                        type="password"
                        placeholder="Password"
                        name="password"
                    /><br />
                    <button type="submit">Login</button>
                </form>
            </div>
            <div>
                <a href="./forgot_password">Forgot Password</a>
            </div>

            <div class="sign">
                <a href="/signup">No Account? Sign up here</a>
            </div>
        </div>

    </body>
</html>
