<%- include("../includes/head.ejs") %> 
</head>

<h1>MAKE POST</h1>

<body>
    <form action="/make-post" method="POST">
        <div>
            <label for="postbody"> Post Body</label>
            <input
                type="text"
                name="postbody"
                required
            />
        </div>

        <div>
            <label for="tags"> Tags</label>
            <input
                type="text"
                name="tags"
                required
            />
        </div>

        <div>
            <label for="image"> Image</label>
            <input type="file" 
                name="image"
            />
        </div>
        <button type="submit" >Make Post</button>
    </form>
</body>