<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/search.css">
    </head>

<body>
    <%- include("../includes/navigation.ejs") %>

    <main>

        <h1 class = "heading">Reported!</h1>

        <a class = "std-button" style = "color:black; width: 30vw; margin-left: 28em; padding-top: 0.8em;" href='/home'> Return Home</a>
       
    </main>


<%- include("../includes/end.ejs") %>
